<div class="container px-lg-120 py-lg-72 py-24 d-flex flex-column gap-24 gap-lg-60 mt-85">
    <div class="page_title d-flex flex-column gap-3 align-items-center justify-content-center">
        <h3 class="m-0 text-center">Terms and Conditions</h3>
        <p class="m-0">Effective Date: 07/22/2025</p>
    </div>
    <p class="m-0 sub_text">Welcome to RealBucs! By using our platform, you agree to the following terms and conditions:</p>
    <div class="page_container d-flex flex-column gap-3 gap-lg-24">
        <h4 class="m-0">Use of Service</h4>
        <div class="page_container_options d-flex flex-column gap-3 px-12">
            <p class="m-0">Realbucs provides a platform to connect users with real estate agents and related services. You agree to use the service lawfully and not for any unauthorized purposes.</p>
        </div>
    </div>
    <div class="page_container d-flex flex-column gap-3 gap-lg-24">
        <h4 class="m-0">User Responsibilities</h4>
        <div class="page_container_options d-flex flex-column gap-3 px-12">
            <p class="m-0">You agree to provide accurate information and to keep your account details secure. You are responsible for all activities under your account.</p>
        </div>
    </div>
    <div class="page_container d-flex flex-column gap-3 gap-lg-24">
        <h4 class="m-0">Agent and Third-Party Services</h4>
        <div class="page_container_options d-flex flex-column gap-3 px-12">
            <p class="m-0">RealBucs facilitates connections but does not guarantee the performance or conduct of agents or third-party providers. Transactions are between you and the agent/provider.</p>
        </div>
    </div>
    <div class="page_container d-flex flex-column gap-3 gap-lg-24">
        <h4 class="m-0">Intellectual Property</h4>
        <div class="page_container_options d-flex flex-column gap-3 px-12">
            <p class="m-0">All content on RealBucs is owned or licensed by us. You may not reproduce or distribute any content without permission.</p>
        </div>  
    </div>
    <div class="page_container d-flex flex-column gap-3 gap-lg-24">
        <h4 class="m-0">Limitation of Liability</h4>
        <div class="page_container_options d-flex flex-column gap-3 px-12">
            <p class="m-0">RealBucs is not liable for any damages arising from your use of the service. Use at your own risk.</p>
        </div>  
    </div>
    <div class="page_container d-flex flex-column gap-3 gap-lg-24">
        <h4 class="m-0">Changes to Terms</h4>
        <div class="page_container_options d-flex flex-column gap-3 px-12">
            <p class="m-0">These terms are governed by the laws of USA.</p>
        </div>  
    </div>
    <div class="page_container d-flex flex-column gap-3 gap-lg-24">
        <h4 class="m-0">Governing Law</h4>
        <div class="page_container_options d-flex flex-column gap-3 px-12">
            <p class="m-0">RealBucs is not liable for any damages arising from your use of the service. Use at your own risk.</p>
        </div>  
    </div>
    <div class="page_container d-flex flex-column gap-3 gap-lg-24">
        <h4 class="m-0">Contact Us</h4>
        <div class="page_container_options d-flex flex-column gap-3 px-12">
            <p class="m-0">For any questions or concerns regarding your privacy, please contact us at <a class="text-decoration-none" href="mailto:info&#64;realbucs.in">info&#64;realbucs.in</a>.</p>
        </div>
    </div>
</div>