<div class="container px-lg-120 py-lg-72 py-24 d-flex flex-column align-items-center gap-24 gap-lg-60 mt-85">
    <div class="page_title d-flex flex-column gap-3 align-items-center justify-content-center">
        <h3 class="m-0 text-center">Contact Us</h3>
        <p class="m-0">Reach out anytime</p>
    </div>
    <div class="contact_cards d-flex flex-column flex-lg-row align-items-center gap-24 gap-lg-40">
        <div class="contact_card d-flex align-items-center justify-content-center gap-3 p-24" (click)="gS.navigate('/faq')">
            <img src="/assets/support_contact.png" alt="">
            <div class="contact_card_right d-flex flex-column align-items-end gap-2">
                <h5 class="m-0">Customer Support</h5>
                <a class="text-decoration-none d-flex align-items-center gap-2" href="javascript:void(0)">Visit Help Center <svg xmlns="http://www.w3.org/2000/svg" width="21"
                        height="20" viewBox="0 0 21 20" fill="none">
                        <path d="M11.037 5L15.8981 10M15.8981 10L11.037 15M15.8981 10L4.23145 10" stroke="#024FF0"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg></a>
            </div>
        </div>
        <div class="contact_card d-flex align-items-center justify-content-center gap-3 p-24">
            <img src="/assets/email_contact.png" alt="">
            <div class="contact_card_right d-flex flex-column align-items-end gap-2">
                <h5 class="m-0">Email Us</h5>
                <a class="text-decoration-none d-flex align-items-center gap-2" href="mailto:contacts&#64;realbucs.com">Send an Email <svg xmlns="http://www.w3.org/2000/svg" width="21"
                        height="20" viewBox="0 0 21 20" fill="none">
                        <path d="M11.037 5L15.8981 10M15.8981 10L11.037 15M15.8981 10L4.23145 10" stroke="#024FF0"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg></a>
            </div>
        </div>
    </div>
</div>