<div id="viewProposal" class="modal-wrapper-design">
    <div class="employer-box">
        <div class="archived_modal d-flex flex-column align-items-start justify-content-start px-24 py-36 px-lg-36 py-lg-72 gap-24 gap-lg-40">
            <div class="close_btn_div">
                <button type="button" class="new_close_btn p-0" (click)="close()">
                    <img src="../../../assets/modal_close.svg">
                </button>
            </div>
            <div class="brand_icon d-flex justify-content-center align-self-stretch">
                <img src="../../../assets/home/logo_4.svg" alt="">
            </div>

            <div class="modal_title d-flex flex-column align-items-center gap-2 gap-lg-3">
                <p class="m-0 modal_title_text text-center">Verify Your Email</p>
                <p class="m-0 modal_title_subtext text-center">A 4-digit verification code has been sent to your email.
                    Enter the code below to verify your email address and continue. <span (click)="changeEmailId()">Change email</span></p>
            </div>

            <form class="align-self-stretch d-flex flex-column gap-24 gap-lg-40" [formGroup]="otpForm">
                <ng-otp-input #otpInput [config]="{
                    length: 4,
                    inputClass: 'otp-input',
                    allowNumbersOnly:true,
                    containerClass:'opt-container'
                    }" (onInputChange)="onOtpChange($event)">
                </ng-otp-input>
                <p class="m-0">Didn't receive the code? <span (click)="resendOtp()">Resend OTP</span></p>
                <button type="submit" [disabled]="otpForm.invalid" [ngClass]="{
                        'disabled_btn':otpForm.invalid
                    }" (click)="verifyOtp()">Verify</button>
            </form>
        </div>
    </div>
</div>