<div class="container px-lg-120 py-lg-72 py-24 d-flex flex-column gap-24 gap-lg-60 mt-85">
    <h3 class="m-0 text-center">About Us</h3>
    <div class="page_container d-flex flex-column gap-3 gap-lg-24">
        <h4 class="m-0">Mission</h4>
        <p class="m-0">At Realbucs, our mission is to simplify and improve the home buying and selling experience for
            everyone. We strive to provide a seamless, transparent, and affordable platform that connects users with
            trusted local real estate agents and resources, empowering them to make confident decisions in their real
            estate journey.</p>
    </div>
    <div class="page_container d-flex flex-column gap-3 gap-lg-24">
        <h4 class="m-0">Vision</h4>
        <p class="m-0">Our vision is to be the nation's most trusted and innovative real estate platform making
            homeownership accessible and stress-free. We aim to revolutionize how people buy and sell homes by combining
            technology, expert guidance, and exclusive savings to create an unmatched user experience.</p>
    </div>
    <div class="page_container d-flex flex-column gap-3 gap-lg-24">
        <h4 class="m-0">About Us</h4>
        <p class="m-0">RealBucs is a forward-thinking real estate company dedicated to helping users buy and sell homes
            with ease. We offer an intuitive platform that connects you with vetted local agents who provide
            full-service support at reduced commission rates. Our goal is to make the entire process faster, more affordable, and tailored to your unique needs.
            <br><br>
            Whether you're a first-time buyer, seasoned seller, or somewhere in between, RealBucs guides you through
            every step, offering educational resources, personalized agent matches, and exclusive cashback offers to save
            you money. With RealBucs, buying or selling a home has never been easier.</p>
    </div>
</div>
