<div id="viewProposal" class="modal-wrapper-design">
    <div class="employer-box bounce_flip">
        <div class="modal-custom container bg-white rounded-4 overflow-hidden p-0">
            <div class="row g-0 flex-md-row flex-column">

                <!-- LEFT IMAGE + GRADIENT -->
                <div class="col-md-6  d-flex justify-content-center align-items-center position-relative">
                    <img src="assets/lottie/cashback_img_1.png" class="img-fluid modal-img" />
                    <button (click)="close()" class="close_mob btn-close position-absolute top-0 end-0 mt-3 me-4"></button>
                </div>

                <!-- RIGHT CONTENT -->
                <div
                    class="col-md-6 position-relative d-flex flex-column justify-content-center gap-4 modal-content-box">

                    <button (click)="close()" class="close_web btn-close position-absolute top-0 end-0 mt-3 me-4"></button>

                    <div>
                        <h1 class="text-warning fw-bold display-5 display-md-4 mb-1 percent-text">UPTO 90%</h1>
                        <h2 class="fw-bold display-6 display-md-5 mb-0 cashback-text">CASHBACK</h2>
                    </div>

                    <p class="m-0 fw-semibold fs-5 small-mobile-text">
                        Realbucs is the sole company offering an unmatched cashback of up to 90%
                    </p>

                    <div class="highlight-bar mb-1"></div>

                    <p class="m-0 text-secondary lh-base small-mobile-text">
                        Our vision is to be the most trusted and innovative real estate platform,
                        making homeownership simple, accessible, and stress-free through smart
                        technology and expert guidance.
                    </p>

                </div>
            </div>
        </div>


    </div>
</div>