<div class="footer_section">
    <div class="container py-24 px-lg-72 py-lg-50 d-flex flex-column gap-40 gap-lg-64">
        <div class="footer_top d-flex flex-column flex-lg-row gap-24 gap-lg-36">
            <div class="footer_top_left d-flex flex-column align-items-center align-items-lg-start gap-24 gap-lg-32">
                <div class="footer_top_left_top d-flex gap-3">
                    <img src="/assets/home/logo_6.svg" alt="">
                    <!-- <div class="d-flex flex-column gap-2">
                        <h3 class="m-0">RealBucs</h3>
                        <p class="m-0">Maximizing Cashback</p>
                    </div> -->
                </div>
                <div class="footer_top_left_bottom d-flex gap-3">
                    <div class="social_icon d-flex align-items-center justify-content-center">
                        <img src="/assets/twitter.svg" alt="">
                    </div>
                    <div class="social_icon d-flex align-items-center justify-content-center">
                        <img src="/assets/instagram.svg" alt="">
                    </div>
                    <div class="social_icon d-flex align-items-center justify-content-center">
                        <img src="/assets/linkedin.svg" alt="">
                    </div>
                </div>

            </div>
            <div class="footer_top_right d-flex flex-column flex-lg-row gap-3 gap-lg-36">
                <div class="options_div d-flex flex-column gap-3 gap-lg-24">
                    <h4 class="m-0">Contact</h4>
                    <div class="d-flex flex-column gap-2 gap-lg-3">
                        <!-- <a class="m-0 text-decoration-none" href="javascript:void(0)">1-833-226-3945</a> -->
                        <a class="m-0 text-decoration-none" href="mailTo:contacts&#64;realbucs.com">contacts&#64;realbucs.com</a>
                    </div>
                </div>
                <div class="options_div d-flex flex-column gap-3 gap-lg-24">
                    <h4 class="m-0">Explore</h4>
                    <div class="d-flex flex-column gap-2 gap-lg-3">
                        <a class="m-0 text-decoration-none" routerLink="/buying">Buying</a>
                        <a class="m-0 text-decoration-none" routerLink="/selling">Selling</a>
                        <a class="m-0 text-decoration-none" routerLink="/agents">Agents</a>
                    </div>
                </div>
                <div class="options_div d-flex flex-column gap-3 gap-lg-24">
                    <h4 class="m-0">Resources</h4>
                    <div class="d-flex flex-column gap-2 gap-lg-3">
                       <a class="m-0 text-decoration-none" routerLink="/faq">FAQ's</a>
                        <a class="m-0 text-decoration-none" routerLink="/contact">Contact Us</a>
                        <a class="m-0 text-decoration-none" routerLink="/about">About Us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom d-flex flex-column flex-lg-row gap-2 gap-lg-3">
            <div class="d-flex gap-40 justify-content-center">
                <a class="text-decoration-none" routerLink="/privacy">Privacy</a>
                <a class="text-decoration-none" routerLink="/terms">Terms of Use</a>
            </div>
            <p class="m-0 text-center text-lg-end">© 2025 RealBucs, All Rights Reserved</p>
        </div>
    </div>
</div>