.container {
    .flow_container {
        min-width: 720px;
        max-width: 720px;

        .flow_container_top {
            div {
                cursor: pointer;

                img {
                    width: 16px;
                    height: 16px;
                }
            }

            p {
                color: #000;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.48px;
            }

            .step_text {
                color: #64748B;
            }
        }

        h4 {
            color: #000;
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.9px;
        }

        .dropdown {


            .dropdown_btn {
                border-radius: 6px;
                border: 1px solid #CBD5E1;
                background: #FFF;
                box-shadow: 0 4px 4px 0 rgba(226, 232, 240, 0.25);
                transition: transform 0.3s ease;
                cursor: pointer;

                img {
                    width: 24px;
                    height: 24px;
                    transition: all 0.3s ease;
                    transform: rotate(180deg);
                }

                &[aria-expanded="true"] {
                    img {
                        transform: rotate(0deg);
                    }
                }

                p {
                    flex: 1 0 0;
                    color: #64748B;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.48px;
                }

                input {
                    flex: 1 0 0;
                    color: #000;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.48px;
                    border: none;
                    cursor: pointer;
                }

                input:focus {
                    outline: none;
                }

                .selectedOption {
                    color: #000;
                }
            }

            .dropdown-menu {
                width: 100%;
                max-height: 350px;
                overflow-y: auto;
                top: 4px !important;
                position: unset !important;
                transform: translate(0px, 0px) !important;
                border-radius: 6px;
                border: 1px solid #CBD5E1;
                background: #FFF;
                box-shadow: 0 4px 4px 0 rgba(226, 232, 240, 0.25);

                a {
                    color: #64748B;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.48px;
                    border-radius: 4px;
                    cursor: pointer;
                }

                .selectedOption {
                    background: #e7ecf1;
                }

                a:hover {
                    background: #e7ecf1;
                    color: #000;
                }
            }
        }

        .saving_card_div {
            border-radius: 6px;
            border: 1px solid #CBD5E1;
            background: #FFF;

            p {
                color: #000;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.16px;

                span {
                    font-weight: 600;
                }
            }
        }

        .submit_btn {
            height: 44px;
            border-radius: 6px;
            background: #024FF0;
            border: none;

            p {
                color: #FFF;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.48px;
            }
        }

        .disabled_btn {
            background: #e7ecf1;

            p {
                color: #000;
            }

            svg {
                path {
                    stroke: #000;
                }
            }
        }
    }
}

@media (max-width:768px) {
    .container {
        form {
            display: flex;
            flex-direction: column;
            flex: 1 0 0;
        }

        .flow_container {
            min-width: 100%;
            max-width: 100%;

            .flow_container_top {
                div {
                    cursor: pointer;

                    img {
                        width: 16px;
                        height: 16px;
                    }
                }

                p {
                    color: #000;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.48px;
                }

                .step_text {
                    color: #64748B;
                }
            }

            h4 {
                font-size: 20px;
                letter-spacing: 0.4px;
            }

            .dropdown {
                .dropdown_btn {
                    border-radius: 6px;
                    border: 1px solid #CBD5E1;
                    background: #FFF;
                    box-shadow: 0 4px 4px 0 rgba(226, 232, 240, 0.25);
                    transition: transform 0.3s ease;
                    cursor: pointer;

                    img {
                        width: 24px;
                        height: 24px;
                        transition: all 0.3s ease;
                        transform: rotate(180deg);
                    }

                    &[aria-expanded="true"] {
                        img {
                            transform: rotate(0deg);
                        }
                    }

                    p {
                        flex: 1 0 0;
                        color: #64748B;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.48px;
                    }

                    input {
                        flex: 1 0 0;
                        color: #000;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.48px;
                        border: none;
                        cursor: pointer;
                    }

                    input:focus {
                        outline: none;
                    }

                    .selectedOption {
                        color: #000;
                    }
                }

                .dropdown-menu {
                    width: 100%;
                    max-height: 350px;
                    overflow-y: auto;
                    top: 4px !important;
                    position: unset !important;
                    transform: translate(0px, 0px) !important;
                    border-radius: 6px;
                    border: 1px solid #CBD5E1;
                    background: #FFF;
                    box-shadow: 0 4px 4px 0 rgba(226, 232, 240, 0.25);

                    a {
                        color: #64748B;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.48px;
                        border-radius: 4px;
                        cursor: pointer;
                    }

                    .selectedOption {
                        background: #e7ecf1;
                    }

                    a:hover {
                        background: #e7ecf1;
                        color: #000;
                    }
                }
            }

            .saving_card_div {
                border-radius: 6px;
                border: 1px solid #CBD5E1;
                background: #FFF;

                p {
                    color: #000;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.16px;

                    span {
                        font-weight: 600;
                    }
                }
            }

            .submit_btn {
                height: 36px;
                border-radius: 6px;
                background: #024FF0;
                border: none;

                p {
                    color: #FFF;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.48px;
                }
            }

            .disabled_btn {
                background: #e7ecf1;

                p {
                    color: #000;
                }

                svg {
                    path {
                        stroke: #000;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        form {
            display: flex;
            flex-direction: column;
            flex: 1 0 0;
        }

        .flow_container {
            min-width: 100%;
            max-width: 100%;
        }
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #a6b2c3;
    border-radius: 10px;
    border: 2px solid #a6b2c3;
}

// * {
//     scrollbar-width: thin;
//     scrollbar-color: #CBD5E1 #fff;

// }


input::placeholder {
    color: #64748B;
    opacity: 1;
}

input::-webkit-input-placeholder {
    color: #64748B;
}

input::-moz-placeholder {
    color: #64748B;
}

input:-ms-input-placeholder {
    color: #64748B;
}

input::-ms-input-placeholder {
    color: #64748B;
}